body::before {
    content: '';
    background-image: url('../images/main-picture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-position: center;
}

body {
     margin: 0;
     color: #757575;
     
}

body > main {
    padding-top: 360px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 884px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #757574;
    font-weight: 600;
    
}

.train {
    background-image: url(../images/train.jpg);
}

.flower {
    background-image: url(../images/flower.jpg);
}

.odnogo_razy_na_rizdvo_6 {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../images/odnogo_razy_na_rizdvo_6.jpg);
}

.books-pic {
    height: 400px;
    display: flex;
    margin: auto;
}

.palms {
    background-image: url(../images/palms.jpg);
}

.jar {
    background-image: url(../images/jar.jpg);
}

h3, h4 {
   padding: 0 10px;
   position: absolute;
   font-size: 34px;
   color: white;
 
}

h3 {
   bottom: 0;
   padding: 0 30px;
   
 }
 
h4 {
    z-index: 2;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

main > :first-child {
    max-height: 360px;
    width: calc(100% - 340px);
}

.post,
.about {
    background-color: white;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.about { 
    width: 320px;
    max-height: 380px;
}

.author-photo{
    height: 280px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/author.jpg);
    border-radius: 2px;
}

.blog-preview {
    height: 70px;
    overflow: hidden;
    padding: 20px 30px 0;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 50px;
    transition: height 0.8s;
} 

.blog-content {
    position: relative;
}

.readMore{
    border: none;
    background: transparent;
    bottom: -30px;
    right: 30px;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: #4c4c4c;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 0;
}

.readMore:focus {
    outline: none;
}

.background-photo {
    height: 280px;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

.footer-page {
    width: 100%;
    height: 70px;
    background-color: #F5F5F5;
    bottom: 0;
}

.footer-publication-info,
.footer-author-info {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    color: #757575;
    background-color: #F5F5F5;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
}

.date-time {
    display: flex;
    padding-right: 10px;
    align-items: center;
}

.section {
    display: flex;
    align-items: center;
}

.section {
    padding-left: 10px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal; 
    cursor: pointer
}

.bookmark.selected {
    /*color: #3F51B5;*/
    color: #1A237E;
}

.favorite.selected {
    color: #B71C1C;
}

.blog-title {
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    position: fixed;
    top: 170px;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0;
 } 
 
 .about-author {
    display: flex;
    align-self: center;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: #4c4c4c;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
 }
 
 @media screen and (max-width: 680px) {
    .date-time > span {
         display: none;
     }
 }
 
 @media screen and (max-width: 470px) {
     .blog-title {
         margin-top: 160px;   
         position: static;
     }
     
     body > main {
         padding-top: 80px;
     }
     
     main > :first-child {
         width: 100%;
     }
     
     .post, .about {
         margin: 0;
     }
     
     .about {
         order: -1;
         width: 100%;
     }
     
     .background-photo {
         background-size: cover;
         height: 200px;
     }
     
     .blog-preview,
     .footer-publication-info,
     
     h3 {
         padding-left: 20px;
         padding-right: 20px;
     }
     
     .readMore {
         right: 20px;
     }
     
     .section,
     .date-time {
         padding: 0;
     }
 }
 
 